@import url("../font/fonts.css");
*{
	margin:0px;
	padding:0px;
}
a:link{
	text-decoration: none!important;
	cursor: pointer;
}
.scrollBlind{
	width:calc(100vw + 20px);
	height:100%;
	overflow-y:scroll;
}
.view{
	z-index:1;
	width:100%;
	height:calc(100vh - 100px);
	position: absolute;
	overflow: hidden;
}
header{
	z-index:10;
	position:relative;
	display:flex;
	flex-flow:row wrap;
	justify-content:space-between;
	align-items:center;
	background-color:white;
	box-shadow: 0px 5px 3px RGBA(0,0,0,0.3);
	width:100%;
	height:100px;
}
header img{
	width:160px;
	padding:10px 0px 10px 60px;
}
ul{
	padding-right:30px;
	list-style:none;
}
ul li{
	display:inline-flex;
	width:150px;
	height:100%;
	align-items:center;
	justify-content:center;
	cursor:pointer;
}
li p{
	font-size:1.875em;
	text-decoration:none;
	color:#f398a5;
	font-family: "777Kidbutterfly", sans-serif;
}

@media all and (max-width:700px){
	header{
		flex-flow:column;
		justify-content:flex-start;
		height:150px;
	}
	header img{
		padding:10px 0px;
	}
	ul{
		height:50px;
		padding:0px;
	}
	ul li{
		max-width:150px;
		width:33.333333vw;
	}
	.view{
		height:calc(100vh - 150px);
	}
}
@media all and (max-width:425px){
	body{
		font-size:0.75em;
	}
	header{
		height:100px;
	}
	header img{
		width:106.666666px;
		padding:6.666px 0px;
	}
	ul{
		height:33.3333333px;
		padding:0px;
	}
	ul li{
		max-width:150px;
		width:33.333333vw;
	}
	.view{
		height:calc(100vh - 100px);
	}
}
