@import url("layout.css");
li:nth-child(1){
	border-bottom:5px solid #f398a5;
}
li:nth-child(1) p{
	color:#f398a5;
}
aside{
	z-index:7;
	display:flex;
	position:fixed;
	flex-flow: column wrap;
	justify-content: center;
	width: 40px;
	height:calc(100vh - 100px);
	top:100px;
	right:0px;
}
circle{
	display:block;
	width:10px;
	height:10px;
	border:2px solid #f398a5;
	border-radius:20px;
	background-color:transparent;
	margin:5px 10px;
	cursor:pointer;
}
.on{
	background-color:#f398a5;
}

section{
	display:flex;
	flex-flow: column wrap;
	width:100vw;
	height:calc(100vh - 100px);
}
.pic{
	order:1;
	display:flex;
	flex-flow:row wrap;
	justify-content:center;
	max-width:calc(100vh - 100px);
	width:50vw;
	height:100%;
	overflow:hidden;
}
.pic img{
	height:100%;
}
.sectionTitle{
	order:2;
	display: flex;
	align-items: center;
	justify-content: center;
	/* width:50%; */
	height: 80px;
}
.sectionTitle hr{
	display:inline-block;
	border: 1px solid #ccc;
	max-width:100px;
	width:20%;
	margin:0.3em 0px;
}
.sectionTitle span{
	font-family: "777Kidbutterfly", sans-serif;
	font-size: 2.25em;
	margin:0px 20px;
}
.contentsWrap{
	order:3;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	min-width: 50vw;
	width: calc( 100vw - 100vh + 100px);
	height: calc( 100% - 80px);
}
.contentsWrap h2{
	margin: 10px 10%;
	font-family: "777Kidbutterfly", sans-serif;
	color:#7897cb;
	font-weight: normal;
	font-size: 2.5em;
}
.content {
	margin: 10px 10%;
	font-size: 0.8em;
}
.tar{
	margin: 0px 10%;
	font-family: "777Kidbutterfly", sans-serif;
	font-size: 1.5em;
}
.contentsWrap img{
	margin: 0px 10%;
	width:80%;
}
.f{
	margin:10px 0px;
	font-size: 2em;
	font-family: "777Kidbutterfly", sans-serif;
	color:#f398a5;
}


@media all and (max-width:768px){
	aside{
		display:none;
	}
	
	section{
		min-height:calc(100vh - 150px);
		height:auto;
		flex-flow:row wrap;
	}
	.sectionTitle{
		order:1;
		width:100%;
	}
	.pic{
		order:2;
		max-width:100vw;
		width:100vw;
		height:100vw;
		margin-bottom:20px;
	}
	.contentsWrap{
		order:3;
		width:100vw;
		min-height: calc( 100vh - 100vw -230px);
		height:auto;
	}
	.contentsWrap *{
		margin-top:0px;
	}
}
@media all and (max-width:425px){
	section{
		min-height:calc(100vh - 100px);
	}
	.sectionTitle{
		height:50px;
	}
	.contentsWrap{
		order:3;
		width:100vw;
		min-height: calc( 100vh - 100vw - 150px);
		height:auto;
	}
}
