@import url('https://fonts.googleapis.com/css?family=Noto+Serif+KR:400,700');
@font-face {
	font-family: '777Kidbutterfly';
	src: url('subset-777Kidbutterfly.woff2') format('woff2'),
		url('subset-777Kidbutterfly.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
